.list-by-guest {
	color: black;
}

.list-by-guest .item {
	background-color: #f2f2f2;
	border-bottom: 1px solid gray;
	cursor: pointer;
}

.list-by-guest .item:hover {
	background-color: rgb(248, 164, 164);
}

.list-by-guest .selected-item {
	background-color: rgb(244, 103, 103);
}
